<h1>Games</h1>
<ul>
  <li><a href="/web_guesser">Guess the Number</a></li>
  <li><a href="/caesar_cipher">Caesar Cipher</a></li>
  <li><a href="/guess_the_word">Guess the Word</a></li>
  <li><a href="/mastermind">Mastermind</a></li>
</ul>