<h1>Projects</h1>
<h2>Games</h2>
<ul>
  <li><a href="/web_guesser">Guess the Number</a></li>
  <li><a href="/guess_the_word">Guess the Word</a></li>
  <!-- later... <li><a href="/mastermind">Mastermind</a></li> -->
</ul>
<h2>Other</h2>
<ul>
  <li><a href="/caesar_cipher">Caesar Cipher</a></li>
</ul>
<p><a href="https://github.com/alexcorremans/sinatra_projects" target="_blank">(Source code)</a>